@charset "utf-8";

// Bootstrap
@import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
@import "bootstrap_mixins";
@import "bootstrap/scss/normalize";
@import "bootstrap/scss/print";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/animation";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/pager";
// @import "bootstrap/scss/labels";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/responsive-embed";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/utilities-spacing";
@import "bootstrap/scss/utilities-responsive";

// Font Awesome
// @import "font-awesome/scss/variables";
@import "font-awesome_variables";
// @import "font-awesome/scss/mixins";
@import "font-awesome_mixins";
@import "font-awesome/scss/path";
@import "font-awesome/scss/core";
// @import "font-awesome/scss/larger";
// @import "font-awesome/scss/fixed-width";
// @import "font-awesome/scss/list";
// @import "font-awesome/scss/bordered-pulled";
// @import "font-awesome/scss/animated";
// @import "font-awesome/scss/rotated-flipped";
@import "font-awesome/scss/stacked";
@import "font-awesome/scss/icons";

body {
  background-color: #000000;
  background-image: url("../img/sugarcon-background.png");
  background-size: cover;
}
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex-item {
  width: 30%;
  background-color: gray;
  margin: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -khtml-border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 32px;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  background: rgba(92,92,92,1);
  background: -moz-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(40,40,40,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,92,92,1)), color-stop(100%, rgba(40,40,40,1)));
  background: -webkit-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(40,40,40,1) 100%);
  background: -o-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(40,40,40,1) 100%);
  background: -ms-linear-gradient(top, rgba(92,92,92,1) 0%, rgba(40,40,40,1) 100%);
  background: linear-gradient(to bottom, rgba(92,92,92,1) 0%, rgba(40,40,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#282828', GradientType=0 );
  color: #FFFFFF;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
//.flex-item:nth-child(1) {
//
//}
//.flex-item:nth-child(2) {
//
//}
//.flex-item:nth-child(3) {
//
//}
.js .need-js.divider:after {
  content: "\00a0|\00a0";
}
@-moz-document url-prefix() {
.flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
  }
}
.container {
  // background: rgba(121,8,8,1);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.80);
  -moz-box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.80);
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.80);
}
.sugarcon-banner {
  background-image: url("../img/sugarcon-banner.png");
  background-color: #E31B24;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  height: 213px;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  .sugarcon-banner {
    background-image: url("../img/sugarcon-banner@2x.png");
    background-size: 1174px 213px;
  }
}
.sugarcon-imagery {
  background-image: url("../img/sugarcon-imagery.jpg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  height: 186px;
  background-size: cover;
}
.sugarcon-intro {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000000;
  color: #FFFFFF;
  border-bottom: 4px solid #E31B24;
}
.sugarcon-intro p {
  font-size: 16px;
}
.sugarcon-boxes {
  background: rgba(167,167,167,1);
  background: -moz-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(244,244,244,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(167,167,167,1)), color-stop(100%, rgba(244,244,244,1)));
  background: -webkit-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(244,244,244,1) 100%);
  background: -o-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(244,244,244,1) 100%);
  background: -ms-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(244,244,244,1) 100%);
  background: linear-gradient(to bottom, rgba(167,167,167,1) 0%, rgba(244,244,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f4f4f4', GradientType=0 );
}
.sugarcon-boxes h2,
.sugarcon-boxes h2 a {
  text-transform: uppercase;
  color: #E31B24;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.sugarcon-boxes p {
  color: #FFFFFF;
}
.sugarcon-boxes p a {
  color: #5FB760;
}
.sugarcon-footer {
  background-color: #000000;
  color: #FFFFFF;
}
.sugarcon-footer p,
.sugarcon-footer p a {
  margin-top: 18px;
  margin-bottom: 18px;
  color: #FFFFFF;
  font-size: 18px;
  padding-right: 10px;
}
.sugarcon-boxes .flex-item > div:first-child {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
.sugarcon-boxes .flex-item > p:last-child {
  position: absolute;
  bottom: 16px;
}
.sugarcon-boxes .img-become-a-sponsor {
  background-image: url("../img/sugarcon-img-become-a-sponsor.jpg");
}
.sugarcon-boxes .img-book-your-hotel {
  background-image: url("../img/sugarcon-img-book-your-hotel.jpg");
}
.sugarcon-boxes .img-why-attend {
  background-image: url("../img/sugarcon-img-why-attend.jpg");
}
// .sugarcon-boxes .btn {
//   text-transform: uppercase;
//   font-weight: bold;
// }
.nav-social {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}
@media (min-width: 1200px) {
  .flex-item {
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  body {
    background-image: none;
    background: rgba(121,8,8,1);
    background: -moz-linear-gradient(top, rgba(121,8,8,1) 0%, rgba(155,4,4,1) 19%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(121,8,8,1)), color-stop(19%, rgba(155,4,4,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(121,8,8,1) 0%, rgba(155,4,4,1) 19%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(121,8,8,1) 0%, rgba(155,4,4,1) 19%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(121,8,8,1) 0%, rgba(155,4,4,1) 19%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(121,8,8,1) 0%, rgba(155,4,4,1) 19%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#790808', endColorstr='#000000', GradientType=0 );
  }
  .flex-item {
    padding-bottom: 12px;
    width: 100%;
  }
  .sugarcon-boxes .flex-item > p:last-child {
    position: static;
  }
  .sugarcon-boxes .img-become-a-sponsor,
  .sugarcon-boxes .img-book-your-hotel,
  .sugarcon-boxes .img-why-attend {
    width: 100px;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sugarcon-boxes .flex-item p,
  .sugarcon-boxes .flex-item h2 {
    margin-left: 110px;
  }
}
@media (max-width:767px) {
  body {
    background-image: none;
  }
  .flex-item {
    padding-bottom: 12px;
    width: 100%;
  }
  .js .need-js.divider:after {
    content: "\A";
    white-space: pre;
  }
  .flex-item p a {
    display: inline-block;
    margin: 4px 0;
  }
  .sugarcon-banner {
    background-image: url("../img/sugarcon-banner-sm.png");
    height: 127px;
  }
  .sugarcon-boxes .flex-item > p:last-child {
    position: static;
    margin-bottom: 0;
  }
  .sugarcon-boxes .img-become-a-sponsor,
  .sugarcon-boxes .img-book-your-hotel,
  .sugarcon-boxes .img-why-attend {
    display: none;
  }
  .sugarcon-footer p,
  .sugarcon-footer p a {
    padding-right: 0;
  }
  .sugarcon-footer .text-right {
    text-align: inherit;
    padding-left: 10px;
  }
  .sugarcon-footer .text-right p,
  .sugarcon-footer .nav-social,
  .sugarcon-footer div {
    float: none;
    padding: 0;
    text-align: center;
  }
}
@media (max-width:479px) {
  .sugarcon-boxes .img-become-a-sponsor,
  .sugarcon-boxes .img-book-your-hotel,
  .sugarcon-boxes .img-why-attend {
    display: block;
  }
}
@media (max-width:767px) and (-webkit-min-device-pixel-ratio: 2),
(max-width:767px) and (min-resolution: 192dpi) {
  .sugarcon-banner {
    background-image: url("../img/sugarcon-banner-sm@2x.png");
    background-size: 700px 127px;
  }
}
